.square {
    border: 2px solid black;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#board {
    border: 2px solid blue;
    width: 600px;
    height: 600px;
    display: flex;
}

.sensor {
    border: 2px dotted yellow;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}